$creme : #FFFEF1;
$red: #DC2222;
$red-2: #F3C7BC;
$red-3: #AE1C1D;
$red-4: #F27758;
$red-5: #54312D;
$orange: #D2AE39;
$orange-2: #DB6E1C;
$orange-3: #AD933F;
$orange-4: #EBD7A5;
$orange-5: #E9B149;
$orange-6: #E7D7BD;
$orange-7: #8D7259;
$dark: #1B1B19;
$dark-2: #530A08;
$disco: #DF5FFF;
$green: #6EFF6B;
$green-2: #C4DBBE;
$green-3: #519C3F;
$gray: #A0A0A0;
$gray-2: #4B4B4B;
$gray-3: #EFEFEF;
$gray-4: #545454;
$gray-5: #D6D6D6;
$darkBlueGreen: #0B5E6B;
$blue: #2754F2;